<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Roster History</title>

  {{#each css}}
  <link rel="stylesheet" type="text/css" href="/css/{{this}}">
  {{/each}}
</head>
<body>
  

  {{{body}}}

  {{#each js}}
		<script src="/js/{{this}}"></script>
		{{/each}}
</body>
</html>